{% include "header.twig" %}

<body>
	<div class = "container">
		<div class ="row">
			<div class = "col-md-4">
			</div>
			<div class = "col-md-4">
				<p id="indexlogin">
					{%include "loginform.twig" %}
				</p>
			</div>
			<div class = "col-md-4">
			</div>
		</div>
	</div>
</body>

{% include "footer.twig" %}


