{% include "header.twig" %}

{% block navContainer %}
	{% include "navContainer.twig" %}
{% endblock navContainer %}

<body>
	{% include "sidebar.twig" %} 
</body>

{% include "footer.twig" %}