 <html>
 <head>
 	<title> Oopes....</title>
 </head>
 <body>
 	<a href="{{base}}">
 		<img style="margin:0px auto;display:block" src="assets/images/404.jpg" alt="Smiley face" width="1080" height="600">
 	</a>
 </body>
 </html>
